<h1> Mis Productitos </h1>

<div class="contenedorCards">
    {{#each productos}}
        <div class="card">
            <p> {{this.title}} </p>
            <p> {{this.description}} </p>
            <p> {{this.price}} </p>
        </div>
    {{/each}}
</div>