<h1>Contacto</h1>
<form action="/enviarmensaje" method="POST">
    <label for="email"> Correo Electrónico </label>
    <input type="email" name="email" required>

    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" cols="30" rows="10" required></textarea>

    <button type="submit"> Enviar </button>
</form>