<header>
    <a href="/" class="logo" >Coderest</a>

    <nav>
        <ul>
            <li> <a href="/upload">Upload</a> </li>
            <li>Mi Perfil</li>
            <li>Tinde de Coder</li>
        </ul>
    </nav>
</header>