{{!-- Ejercicio de guia para el desafio: --}}

{{!-- Tenes que recibir el array con los productos --}}

<div class="contenedorProductitos">
    {{#each productos}}
        <p> {{this.nombre}} </p>
        <p> {{this.description}} </p>
        <p> {{this.precio}} </p>
    {{/each}}

</div>