<h1>Hola Mundo</h1>

{{!-- Vamos a renderizar un listado de usuarios que recibimos del servidor --}}

<h2>Lista de Usuarios </h2>
<ul id="lista-usuarios"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>

{{!-- No se olviden el orden de los scripts, el nuestro siempre al final --}}