<!-- CAROUSEL -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/carousel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/carousel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/carousel3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{{!-- Bienvenida --}}

<div class="tituloProductos">
    <h2>Bienvenidos a la tienda MAROLIO</h2>
</div>

{{!-- Testimonios --}}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio1.jpg" class="card-img-top" alt="Imagen Testimonio 1">
                <div class="card-body">
                    <h5 class="card-title">Pancho Ibañez</h5>
                    <p class="card-text">Hola, soy Pancho Ibáñez. Muchos me conocen por mi trayectoria en la televisión
                        y la radio, pero lo que pocos saben es que soy un apasionado de la cocina. Y cuando se trata de
                        cocinar, no hay nada mejor que usar productos frescos y de calidad. Por eso, siempre elijo
                        Marolio.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio2.jpg" class="card-img-top" alt="Imagen Testimonio 2">
                <div class="card-body">
                    <h5 class="card-title">Lionel Messi</h5>
                    <p class="card-text">Marolio es una marca que me acompaña desde siempre. Recuerdo de chico, en la
                        cocina de mi abuela, el aroma inconfundible del aceite Marolio mientras ella preparaba sus
                        deliciosas recetas. Ese aroma me trae recuerdos felices de mi infancia, de familia y de unión.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio3.jpg" class="card-img-top" alt="Imagen Testimonio 3">
                <div class="card-body">
                    <h5 class="card-title">Bizarrap</h5>
                    <p class="card-text">Para mí, Marolio es más que una marca. Es un símbolo de tradición, calidad y
                        sabor. Y como buen productor, sé que la calidad de los ingredientes es fundamental para crear
                        algo realmente bueno.</p>
                </div>
            </div>
        </div>
    </div>
</div>

