<h1>Generar Nuevo Correo de Restablecimiento</h1>
<form action="/api/users/requestPasswordReset" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">Enviar Correo de Restablecimiento</button>
</form>

{{#if error}}
    <p class="error-message">{{error}}</p>
{{/if}}