{{#each arrayProductos}}
    <div>
        <h2>Nombre: {{this.nombre}} </h2>
        <p>Descripción: {{this.descripcion}} </p>
        <p>Precio: {{this.precio}} </p>
        <button> Comprar </button>
    </div>
{{/each}}