@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

/*HEADER*/

.tamLogo {
    width: 150px;
}

.fuentesNav {
    font-size: 1.5rem;
    padding: 10px;
}

.encabezado {
    /* background-color: bisque; */
    border-top: solid 20px #c1101a;
    /* border-bottom: solid 1px #c1101a; */
    margin-bottom: 30px;
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    color: gray;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 0 15px;
}

a:hover {
    background-color: #c1101a;
    color: #fafafa;
}

/* PRODUCTOS */

.tituloProductos {
    background-color: #c1101a;
    color: #fafafa;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.tituloProductos h2 {
    font-size: 35px;
}


/*CARDS*/


.colorBtn {
    background-color: #c1101a;
    color: #fafafa;
    font-size: 18px;
}

.colorBtn:hover {
    background-color: red;
    color: #fafafa;
}


/*Cards*/

.card-img-top {
    height: 200px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    object-position: center top;
}

/* Estilos del formulario de inicio de sesión */
h1 {
    text-align: center;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.inputMessi {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnMios {
    width: 100%;
    padding: 10px;
    background-color: #c1101a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btnMios:hover {
    background-color: #ff1f33;
}

i {
    font-size: 35px;
}