<h1> Registro de Usuario </h1>
<form action="/register" method="POST">
    <label for="usuario">Nombre de Usuario: </label>
    <input type="text" name="usuario" required>
    <br><br>
    <label for="password">Contraseña: </label>
    <input type="text" name="password" required>
    <br><br>
    <input type="submit" value="Registrarse">
</form>