<h1>Inicio de Sesión </h1>
<form class="formulario" action="/api/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" class="inputMessi" id="email" name="email" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" class="inputMessi" id="password" name="password" required>
    
    <button type="submit" class="btnMios">Login</button>
    
</form>
