<h1>Registrarse</h1>
<form class="formulario" action="/api/users/register" method="post">
    <label for="first_name">Nombre:</label>
    <input type="text" class="inputMessi" id="first_name" name="first_name" required>
    
    <label for="last_name">Apellido:</label>
    <input type="text" class="inputMessi" id="last_name" name="last_name" required>
    
    <label for="email">Email:</label>
    <input type="email" class="inputMessi" id="email" name="email" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" class="inputMessi" id="password" name="password" required>
    
    <label for="age">Edad:</label>
    <input type="number" class="inputMessi" id="age" name="age" required>
    
    <button class="btnMios" type="submit">Register</button>
</form>