<h1>Restablecer Contrase単a</h1>
<form action="/reset-password" method="POST">
    <label for="password">Nueva Contrase単a:</label>
    <input type="password" id="password" name="password" required>
    <label for="confirmPassword">Confirmar Contrase単a:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button type="submit">Restablecer Contrase単a</button>
</form>