<div class="upload">
    <form action="/login" method="POST" class="upload__container">
        <h2>Inicio de Sesión</h2>
        <div class="upload__container--title">
            <input type="text" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="upload__container--title">
            <input type="text" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="upload__container--title">
            <button type="submit" class="btn"> Iniciar Sesión </button>
        </div>
    </form>
</div>