<div class="upload">
    <form action="/register" method="POST" class="upload__container">
        <h2>Registro</h2>

        <div class="upload__container--title">
            <input type="text" name="first_name" placeholder="Nombre" required>
        </div>

        <div class="upload__container--title">
            <input type="text" name="last_name" placeholder="Apellido" required>
        </div>

        <div class="upload__container--title">
            <input type="text" name="email" placeholder="Correo electónico" required>
        </div>

        <div class="upload__container--title">
            <input type="number" name="age" placeholder="Edad" required >
        </div>

        <div class="upload__container--title">
            <input type="text" name="password" placeholder="Contraseña" required>
        </div>

        <button class="btn" type="submit"> Registrarse </button>
    </form>
</div>