<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="upload__container">
            <div class="upload__container--title">
                <input type="file" name="image">
            </div>

             <div class="upload__container--title">
                <input type="text" name="title" placeholder="Titulo de la imagen">
            </div>

             <div class="upload__container--title">
                <input type="text" name="description" placeholder="Descripción">
            </div>

             <div class="upload__container--button">
                <button> Publicar </button>
            </div>
        </div>
    </form>
</div>