
<h1 class="text-center">Login</h1>
<form action="/login" method="POST">
    <input type="text" name="usuario" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

