header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid red;
}

li {
    
    margin: 16px;
    display: inline-block;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}